{% extends 'base.html' %}
{% block content %}

  <h2>{{ movie.title }}</h2>

  <div>

    <h3>Rate this movie!</h3>
    
    <form action='/movie/{{ movie.movie_id }}'>
      <select submit='/movie/{{ movie.movie_id }}' name='user-rating' method='POST'>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>

      <input type="submit" value="Submit">
    </form>  
  </div>  




  <div>
     <h3>Rating List:</h3>
      <ul>
        {% for rating in ratings %}
        <li>
        Score: {{ rating.score }}
        </li>
        {% endfor %}
      </ul>

  </div>




{% endblock %}